In [1]:
import urllib.request, json
import requests
import numpy as np
import pandas as pd
from itertools import chain

In [2]:
df = pd.read_csv('/Users/smritimohta/Desktop/Capstone/Final/Code/data_30sec.csv')
df.head()

,Unnamed: 0,timestamp,device,beacon_type,major,minor,uuid,eddystoneUidData,rssi,tx_power,...,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,Shape__Area,Shape__Length,census_id
0,0,2021-09-14 14:22:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,...,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769
1,1,2021-09-14 14:23:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-92,-47,...,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769
2,2,2021-09-14 14:23:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,...,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769
3,3,2021-09-14 14:23:30,device1,ibeacon,0.0,18358.0,74278bda-b644-4520-8f0c-720eaf059935,NaN,-90,-59,...,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769
4,4,2021-09-14 14:24:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-87,-47,...,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769

In [3]:
df.shape

(10357, 35)

## Unique UUIDs counts and insights

In [ ]:
# first, lets split the eddystone uuid into namespace and instance values

In [4]:
df['instance_id'] = df['eddystoneUidData'].str.slice(17,31)
df['namespace_id'] = df['eddystoneUidData'].str.slice(51,73)
df

,Unnamed: 0,timestamp,device,beacon_type,major,minor,uuid,eddystoneUidData,rssi,tx_power,...,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,Shape__Area,Shape__Length,census_id,instance_id,namespace_id
0,0,2021-09-14 14:22:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,...,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
1,1,2021-09-14 14:23:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-92,-47,...,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
2,2,2021-09-14 14:23:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,...,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
3,3,2021-09-14 14:23:30,device1,ibeacon,0.0,18358.0,74278bda-b644-4520-8f0c-720eaf059935,NaN,-90,-59,...,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
4,4,2021-09-14 14:24:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-87,-47,...,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10352,10352,2021-10-22 17:36:30,device1,eddystone_url,NaN,NaN,NaN,NaN,-95,-100,...,Midtown-Times Square,MN0502,MN05,MN05 Midtown-Flatiron-Union Square (CD 5 Appro...,36061011300,1.890907e+06,5699.860640,147,NaN,NaN
10353,10353,2021-10-22 17:37:00,device1,eddystone_url,NaN,NaN,NaN,NaN,-89,-100,...,Midtown-Times Square,MN0502,MN05,MN05 Midtown-Flatiron-Union Square (CD 5 Appro...,36061011300,1.890907e+06,5699.860640,147,NaN,NaN
10354,10354,2021-10-22 17:38:00,device1,eddystone_url,NaN,NaN,NaN,NaN,-94,-100,...,Midtown-Times Square,MN0502,MN05,MN05 Midtown-Flatiron-Union Square (CD 5 Appro...,36061011300,1.890907e+06,5699.860640,147,NaN,NaN
10355,10355,2021-10-22 17:38:30,device1,eddystone_url,NaN,NaN,NaN,NaN,-85,-100,...,Midtown-Times Square,MN0502,MN05,MN05 Midtown-Flatiron-Union Square (CD 5 Appro...,36061011300,1.890907e+06,5699.860640,147,NaN,NaN
10356,10356,2021-10-22 19:44:30,device1,eddystone_url,NaN,NaN,NaN,NaN,-82,-77,...,Midtown-Times Square,MN0502,MN05,MN05 Midtown-Flatiron-Union Square (CD 5 Appro...,36061011300,1.890907e+06,5699.860640,147,NaN,NaN

In [25]:
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,timestamp,device,beacon_type,major,minor,uuid,eddystoneUidData,rssi,tx_power,distance,latitude,longitude,speed(m/s),manufacturer,last_seen,coordinates,index_right,level_0,level_1,OBJECTID,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,Shape__Area,Shape__Length,census_id,instance_id,namespace_id
0,0,2021-09-14 14:22:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,50.990363,40.690918,-73.986798,1.02,76,1628298167545,POINT (-73.98679796 40.6909178),769,698,0,699,37.0,3,Brooklyn,3700,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
1,1,2021-09-14 14:23:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-92,-47,50.448288,40.690898,-73.986413,1.17,76,1628298168647,POINT (-73.98641318999999 40.6908978),769,698,0,699,37.0,3,Brooklyn,3700,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
2,2,2021-09-14 14:23:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,50.617148,40.690825,-73.986106,1.12,76,1628298170850,POINT (-73.98610619 40.69082545),769,698,0,699,37.0,3,Brooklyn,3700,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
3,3,2021-09-14 14:23:30,device1,ibeacon,0.0,18358.0,74278bda-b644-4520-8f0c-720eaf059935,NaN,-90,-59,4.484340,40.690803,-73.986018,0.96,76,1628298171947,POINT (-73.98601773999999 40.69080287),769,698,0,699,37.0,3,Brooklyn,3700,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN
4,4,2021-09-14 14:24:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-87,-47,45.537935,40.690675,-73.985712,1.06,76,1628298171947,POINT (-73.98571164000001 40.69067456),769,698,0,699,37.0,3,Brooklyn,3700,3003700,NaN,Downtown Brooklyn-DUMBO-Boerum Hill,BK0202,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN

In [81]:
df.shape

(10357, 37)

In [17]:
# overall beacon counts by uuids
df['beacon_type'].unique()

array(['ibeacon', 'altbeacon', 'eddystone_uid', 'eddystone_url'],
      dtype=object)

## Beacon counts by Unique UUIDs and their geographies

### iBeacons

In [12]:
df[df['beacon_type']=='ibeacon'][['beacon_type','uuid']].groupby(by=
              ['uuid']).count().sort_values(by=['beacon_type'], ascending=False).rename(columns={'beacon_type':'count'})

                                      count
uuid
5993a94c-7d97-4df7-9abf-e493bfd5d000    969
50765cb7-d9ea-4e21-99a4-fa879613a492    948
74278bda-b644-4520-8f0c-720eaf059935    745
2686f39c-bada-4658-854a-a62e7e5e8b8d    645
8a21c76b-74e3-4341-92be-33fcfdefdd63    451
...                                     ...
010e5daf-960b-43da-b605-89d5f040b217      1
df5558f8-0c2e-46e6-9da9-4c82824ceda1      1
40a480af-a022-4050-95d6-51a700020000      1
e1717541-3116-b5a5-8f5c-458db726c2b7      1
7f94e960-5490-41b2-b762-4ab5fc87384c      1

[203 rows x 1 columns]

In [19]:
# lets see where the top 5 ibeacons are found: 
df[df['uuid']=='5993a94c-7d97-4df7-9abf-e493bfd5d000']['census_id'].unique()

array([ 752,  749,   19,  767,  758,  750,   51,   78, 1092, 1181, 1207,
       1248, 1246,  122,   72,   66,   69,   55,   70,   53,  147])

In [20]:
df[df['uuid']=='50765cb7-d9ea-4e21-99a4-fa879613a492']['census_id'].unique()

array([ 749,   19,   13,   29,  954,  881,  874,  873,  871,  855,  853,
        847,  846,  767,  124,  122,  109,  107,  101,   79,   60,   31,
        758,   51,   32,   66,   77,   76,   74,   78,   23, 1127, 1125,
       1143,  969,  996, 1092,  117,  115,   75,  106,  143,  130,  134,
        135,  133,  148,  145,  120,  131,  146,  149,   61,   34,   55,
         53,  805,  797,  800,  799,  773,  769,  132,  141,  147,  154,
        150])

In [21]:
df[df['uuid']=='74278bda-b644-4520-8f0c-720eaf059935']['census_id'].unique()

array([ 769,   19,   13,   29,   28,  938,  892,  881,  874,  873,  871,
        855,  853,  877,  847,  846,  767,  122,  124,  101,   99,   78,
         83,   79,   65,   60,  758,  752,   51,   32,   66,   77,   76,
         72,   89,   74,   73,  977,  979,   23,  998, 1096, 1981, 1145,
        968,  969,  996,  134,  144,  145,  133,  120,  131,  146,   61,
         34,   55,   53,   87,  749,  748,  775,  747,  778,  797,  805,
        799,  773,  141,  109,  147,  154,  150,  143,  107])

In [23]:
df[df['uuid']=='8a21c76b-74e3-4341-92be-33fcfdefdd63']['census_id'].unique()

array([752,  19,  13,  29, 954, 938, 881, 874, 871, 855, 846, 847, 767,
        78,  73,  74, 758,  20,  51,  25,  32,  66,  77,  72,  83, 749,
       769, 958, 977, 979,  53,  34,  23, 969, 108, 130, 124, 135, 145,
       122, 120, 131, 146, 149, 133,  61,  55,  87, 775, 805, 797, 773,
       748, 141, 101, 109, 147, 154, 150, 143, 107])

In [ ]:
df[df['uuid']=='2686f39c-bada-4658-854a-a62e7e5e8b8d']['census_id'].unique()

### Altbeacons

In [13]:
# altbeacons
df[df['beacon_type']=='altbeacon'][['beacon_type','uuid']].groupby(by=
              ['uuid']).count().sort_values(by=['beacon_type'], ascending=False).rename(columns={'beacon_type':'count'})

                                      count
uuid
2f234454-cf6d-4a0f-adf2-f4911ba9ffa6      8
43a2bc29-c111-4a76-8b6f-78aecb142e5a      1

In [24]:
# lets see where the top 2 altbeacons are found: 
df[df['uuid']=='2f234454-cf6d-4a0f-adf2-f4911ba9ffa6']['census_id'].unique()

array([ 28, 846, 847, 767,  51, 135, 120, 150, 147, 109])

In [25]:
df[df['uuid']=='43a2bc29-c111-4a76-8b6f-78aecb142e5a']['census_id'].unique()

array([141])

### Eddystone UID

In [18]:
# eddystone_uid
df[df['beacon_type']=='eddystone_uid'][['beacon_type','namespace_id']].groupby(by=
              ['namespace_id']).count().sort_values(by=['beacon_type'], ascending=False).rename(columns={'beacon_type':'count'})

                        count
namespace_id
0xb2e5fc49d46042b9893c   1697
0xc1cac1c417534ddea065    751
0x2a28c8e5b65f44aa9837    100
0x85ceeb822284d5870c3a     50
0xe1bde705bd3940898e3d     32
0x5713793103decaf22026     10
0x71410849e0b34b5f9819      8
0xc4abe71156a5fa70a23f      7
0x9e9f052935fc2bc872e6      5
0xf7826da6bc5b71e0893e      3
0x670d6c28e1a4bdb78331      1

In [26]:
# lets see where the top 5 eddystone uids are found: 
df[df['namespace_id']=='0xb2e5fc49d46042b9893c']['census_id'].unique()

array([149, 146, 133, 122, 124,  23,  34, 345,  61, 109, 141, 101, 107,
       132])

In [27]:
df[df['namespace_id']=='0xc1cac1c417534ddea065']['census_id'].unique()

array([124, 122, 109, 107, 101,  23,  28, 133, 120, 147, 141])

In [28]:
df[df['namespace_id']=='0x2a28c8e5b65f44aa9837']['census_id'].unique()

array([74, 78])

In [29]:
df[df['namespace_id']=='0x85ceeb822284d5870c3a']['census_id'].unique()

array([130, 109, 141, 147, 101])

In [30]:
df[df['namespace_id']=='0xe1bde705bd3940898e3d']['census_id'].unique()

array([143, 141])

## Company merged UUIDs insights

In [31]:
company = pd.read_csv('/Users/smritimohta/Desktop/Capstone/Final/Code/Beacon_Manufacturers.csv')
company = company[['Company_Names','Example_UUID','Namespace_id']].rename(columns={'Namespace_id':'namespace_id'})
company.head()

,Company_Names,Example_UUID,namespace_id
0,BlueCats (Plus Location Systems,61687109-905f-4436-91f8-e602f514c96d,NaN
1,Bluebar (BlueSense),a0b13730-3a9a-11e3-aa6e-0800200c9a66,NaN
2,Estimote,b9407f30-f5f8-466e-aff9-25556b57fe6d,NaN
3,Gelo,11e44f09-4ec4-407e-9203-cf57a50fbce0,NaN
4,Glimworm,74278bda-b644-4520-8f0c-720eaf059935,NaN

In [32]:
# processing the data
company['Example_UUID'] = company['Example_UUID'].str.lower()
company['uuid_code'] = company['Example_UUID'].str.slice(0,8)
company['uuid_code'][10] = company['namespace_id'][10]
company.head()

,Company_Names,Example_UUID,namespace_id,uuid_code
0,BlueCats (Plus Location Systems,61687109-905f-4436-91f8-e602f514c96d,NaN,61687109
1,Bluebar (BlueSense),a0b13730-3a9a-11e3-aa6e-0800200c9a66,NaN,a0b13730
2,Estimote,b9407f30-f5f8-466e-aff9-25556b57fe6d,NaN,b9407f30
3,Gelo,11e44f09-4ec4-407e-9203-cf57a50fbce0,NaN,11e44f09
4,Glimworm,74278bda-b644-4520-8f0c-720eaf059935,NaN,74278bda

In [33]:
# merging with main dataframe
df_merge = df.merge(company, on='uuid_code', how='left')
df_merge.head()

,Unnamed: 0,timestamp,device,beacon_type,major,minor,uuid,eddystoneUidData,rssi,tx_power,...,GEOID,Shape__Area,Shape__Length,census_id,instance_id,namespace_id_x,uuid_code,Company_Names,Example_UUID,namespace_id_y
0,0,2021-09-14 14:22:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN,2686f39c,NaN,NaN,NaN
1,1,2021-09-14 14:23:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-92,-47,...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN,2686f39c,NaN,NaN,NaN
2,2,2021-09-14 14:23:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN,2686f39c,NaN,NaN,NaN
3,3,2021-09-14 14:23:30,device1,ibeacon,0.0,18358.0,74278bda-b644-4520-8f0c-720eaf059935,NaN,-90,-59,...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN,74278bda,Glimworm,74278bda-b644-4520-8f0c-720eaf059935,NaN
4,4,2021-09-14 14:24:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-87,-47,...,36047003700,1.788976e+06,7273.231512,769,NaN,NaN,2686f39c,NaN,NaN,NaN

In [46]:
# sorting to count numbers of company matched beacon products : ibeacon & altbeacon protocol - 13 uuids matched 
df_merge[['uuid','beacon_type','Company_Names']].groupby(by=['Company_Names',
                        'uuid',]).count().sort_values(by='beacon_type',ascending=False).reset_index()

,Company_Names,uuid,beacon_type
0,Glimworm,74278bda-b644-4520-8f0c-720eaf059935,745
1,SXSW,d77657c4-52a7-426f-b9d0-d71e10798c8a,303
2,Apple AirLocate,e2c56db5-dffb-48d2-b060-d0f5a71096e0,260
3,Omni access stellar (Alcatel Lucent),504f4c45-5354-4152-0000-000000000000,168
4,Motorola MPact,fe913213-b311-4a42-8c16-47faeac938db,29
5,RadBeacon/Radius Network,2f234454-cf6d-4a0f-adf2-f4911ba9ffa6,22
6,Onyx beacon,20cae8a0-a9cf-11e3-a5e2-0800200c9a66,20
7,Skylab,fda50693-a4e2-4fb1-afcf-c6eb07647825,12
8,Aruba Bluetooth Beacons (HP),4152554e-f99b-4a3b-86d0-947070693a78,11
9,Aerohive,4165726f-6869-7665-4e65-74776f726b73,10
10,Kontakt,f7826da6-4fa2-4e98-8024-bc5b71e0893e,9
11,Skylab,fda50693-a4e2-4fb1-3344-ff767760cac6,8
12,Skylab,fda50693-a4e2-4fb1-3344-df97a470ee50,1

In [47]:
# sorting to count numbers of company matched beacon products : eddystone protocol - 0 uuids matched 
df_merge[['namespace_id_x','beacon_type','Company_Names']].groupby(by=['Company_Names',
                        'namespace_id_x',]).count().sort_values(by='beacon_type',ascending=False).reset_index()

Empty DataFrame
Columns: [Company_Names, namespace_id_x, beacon_type]
Index: []

## Street addresses insights on company matched uuids

In [55]:
df_revins= pd.read_csv('/Users/smritimohta/Desktop/Capstone/Final/Code/final_merged_data.csv')
df_revins.head()

/Users/smritimohta/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6,38,64,68,70,71,72,74) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,timestamp,device,beacon_type,major,minor,uuid,eddystoneUidData,rssi,tx_power,...,tourism,highway,office,craft,quarter,place,residential,retail,man_made,commercial
0,0,2021-09-14 14:22:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2021-09-14 14:23:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-92,-47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2021-09-14 14:23:30,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-94,-47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2021-09-14 14:23:30,device1,ibeacon,0.0,18358.0,74278bda-b644-4520-8f0c-720eaf059935,NaN,-90,-59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-09-14 14:24:00,device1,ibeacon,1.0,0.0,2686f39c-bada-4658-854a-a62e7e5e8b8d,NaN,-87,-47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_revins.columns

Index(['Unnamed: 0', 'timestamp', 'device', 'beacon_type', 'major', 'minor',
       'uuid', 'eddystoneUidData', 'rssi', 'tx_power', 'distance', 'latitude',
       'longitude', 'speed(m/s)', 'manufacturer', 'last_seen', 'coordinates',
       'index_right', 'level_0', 'level_1', 'OBJECTID', 'CTLabel', 'BoroCode',
       'BoroName', 'CT2020', 'BoroCT2020', 'CDEligibil', 'NTAName', 'NTA2020',
       'CDTA2020', 'CDTANAME', 'GEOID', 'Shape__Area', 'Shape__Length',
       'census_id', 'instance_id', 'namespace_id_x', 'uuid_code',
       'Company_Names', 'geometry', 'place_id', 'licence', 'osm_type',
       'osm_id', 'lat', 'lon', 'display_name', 'boundingbox', 'house_number',
       'road', 'neighbourhood', 'suburb', 'city_district', 'city', 'state',
       'postcode', 'country', 'country_code', 'amenity', 'railway', 'shop',
       'building', 'leisure', 'county', 'historic', 'tourism', 'highway',
       'office', 'craft', 'quarter', 'place', 'residential', 'retail',
       'man_made', 'commercial'],
      dtype='object')

In [85]:
trial = df_revins[['beacon_type','census_id','display_name','uuid','Company_Names']].groupby(by=['census_id',
                        'display_name','uuid','Company_Names']).count().sort_values(by=['beacon_type'],
                                                                                      ascending=False).reset_index()
trial

,census_id,display_name,uuid,Company_Names,beacon_type
0,147,42nd Streetâ€“Times Squareâ€“Port Authority Bus Te...,504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),20
1,141,"Herald Square Building, 1350, Broadway, Garmen...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),13
2,147,42nd Streetâ€“Times Squareâ€“Port Authority Bus Te...,74278bda-b644-4520-8f0c-720eaf059935,Glimworm,12
3,109,"1, West 37th Street, Midtown South, Manhattan ...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),11
4,109,"65, West 37th Street, Midtown South, Manhattan...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),11
...,...,...,...,...,...
959,109,"21, West 37th Street, Midtown South, Manhattan...",e2c56db5-dffb-48d2-b060-d0f5a71096e0,Apple AirLocate,1
960,109,"25, West 39th Street, Midtown South, Manhattan...",d77657c4-52a7-426f-b9d0-d71e10798c8a,SXSW,1
961,109,"29, West 36th Street, Midtown South, Manhattan...",74278bda-b644-4520-8f0c-720eaf059935,Glimworm,1
962,109,"34th Streetâ€“Herald Square, PATH - 33rd Street ...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
963,1981,"Myrtle-Wyckoff Avenues, Palmetto Street, Ridge...",74278bda-b644-4520-8f0c-720eaf059935,Glimworm,1

In [86]:
trial[trial['Company_Names']=='Omni access stellar (Alcatel Lucent)']

,census_id,display_name,uuid,Company_Names,beacon_type
0,147,42nd Streetâ€“Times Squareâ€“Port Authority Bus Te...,504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),20
1,141,"Herald Square Building, 1350, Broadway, Garmen...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),13
3,109,"1, West 37th Street, Midtown South, Manhattan ...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),11
4,109,"65, West 37th Street, Midtown South, Manhattan...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),11
7,109,"The Vogue, 990, 6th Avenue, Midtown South, Man...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),9
9,109,"20, West 38th Street, Midtown South, Manhattan...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),9
17,141,"Citi Bike - Broadway & W 36 St, Broadway, Garm...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),7
20,141,"34th Streetâ€“Herald Square, PATH - 33rd Street ...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),6
21,141,"34th Street - Herald Square (B,D,F,M), 6th Ave...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),6
23,109,"420, 5th Avenue, Midtown South, Manhattan Comm...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),6
51,141,"Haier Building, West 36th Street, Garment Dist...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),4
53,141,"1367, Broadway, Garment District, Manhattan Co...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),4
54,141,"1359, Broadway, Garment District, Manhattan Co...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),4
64,109,"1024, 6th Avenue, Midtown South, Manhattan Com...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),4
65,109,"6th Avenue & West 37th Street, 6th Avenue, Mid...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),4
85,147,"120, West 39th Street, Garment District, Manha...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),3
98,141,"Fresh & Co, West 36th Street, Garment District...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),3
106,109,"6th Avenue & West 38th Street, 6th Avenue, Mid...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),3
108,147,"42nd Streetâ€“Times Square, Broadway, Garment Di...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),3
116,109,"21617, 6th Avenue, Midtown South, Manhattan Co...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),3
126,109,"1020, 6th Avenue, Midtown South, Manhattan Com...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),3
148,141,"Shake Shack, 1333, Broadway, Garment District,...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),2
166,109,"78, West 36th Street, Midtown South, Manhattan...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),2
171,109,"18, West 38th Street, Midtown South, Manhattan...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),2
176,109,"PrimeXchange, 1000, 6th Avenue, Midtown South,...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),2
194,141,"V&S Gallery, West 37th Street, Garment Distric...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),2
230,147,"1400 Broadway, 1400, Broadway, Garment Distric...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),2
248,141,"550, 8th Avenue, Garment District, Manhattan C...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),2
253,141,"121, 6th Avenue, Garment District, Manhattan C...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),2
312,150,"575, 8th Avenue, Garment District, Manhattan C...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
343,150,"580, 8th Avenue, Garment District, Manhattan C...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
359,147,"Tees Gifts, Broadway, Garment District, Manhat...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
830,141,"Cava, 1385, Broadway, Garment District, Manhat...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
831,141,"Dunkin' Donuts, West 37th Street, Garment Dist...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
834,141,"Ebad Fabrics, 550, 8th Avenue, Garment Distric...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
838,141,"NICE Actimize, Broadway, Garment District, Man...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
839,141,"NS4036, 6th Avenue, Garment District, Manhatta...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
845,141,"1375, Broadway, Garment District, Manhattan Co...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
854,141,"1013, 6th Avenue, Garment District, Manhattan ...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
857,141,"140, West 38th Street, Garment District, Manha...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
882,101,"34th Streetâ€“Herald Square, PATH - 33rd Street ...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
942,109,"1028, 6th Avenue, Midtown South, Manhattan Com...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
948,109,"1006, 6th Avenue, Midtown South, Manhattan Com...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
950,109,"1026, 6th Avenue, Midtown South, Manhattan Com...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1
962,109,"34th Streetâ€“Herald Square, PATH - 33rd Street ...",504f4c45-5354-4152-0000-000000000000,Omni access stellar (Alcatel Lucent),1

In [79]:
pd.set_option('display.max_columns', None)
df_revins[(df_revins['road']=='West Broadway') & (df_revins['uuid']=='d954b22d-0031-4b02-b91d-f86c1fbd8d22')]

,Unnamed: 0,timestamp,device,beacon_type,major,minor,uuid,eddystoneUidData,rssi,tx_power,distance,latitude,longitude,speed(m/s),manufacturer,last_seen,coordinates,index_right,level_0,level_1,OBJECTID,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,Shape__Area,Shape__Length,census_id,instance_id,namespace_id_x,uuid_code,Company_Names,geometry,place_id,licence,osm_type,osm_id,lat,lon,display_name,boundingbox,house_number,road,neighbourhood,suburb,city_district,city,state,postcode,country,country_code,amenity,railway,shop,building,leisure,county,historic,tourism,highway,office,craft,quarter,place,residential,retail,man_made,commercial
4506,4506,2021-10-16 19:02:30,device1,ibeacon,1000.0,3223.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-90,-49,29.303959,40.716130,-74.008933,1.15,76,1634424401316,POINT (-74.00893322 40.71612971),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.00893322 40.71612971),31163461,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,2823256894,40.716175,-74.008913,"16, West Broadway, Tribeca, Manhattan Communit...","['40.7161245', '40.7162245', '-74.0089626', '-...",16,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10013,United States,us,NaN,NaN,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4507,4507,2021-10-16 19:02:30,device1,ibeacon,1000.0,3222.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-87,-49,23.269880,40.716130,-74.008933,1.15,76,1634424401350,POINT (-74.00893322 40.71612971),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.00893322 40.71612971),31163461,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,2823256894,40.716175,-74.008913,"16, West Broadway, Tribeca, Manhattan Communit...","['40.7161245', '40.7162245', '-74.0089626', '-...",16,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10013,United States,us,NaN,NaN,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4508,4508,2021-10-16 19:02:30,device1,ibeacon,1000.0,3272.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-89,-49,27.156289,40.716137,-74.008921,1.12,76,1634424402165,POINT (-74.00892095 40.71613742),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.00892095 40.71613742),31163461,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,2823256894,40.716175,-74.008913,"16, West Broadway, Tribeca, Manhattan Communit...","['40.7161245', '40.7162245', '-74.0089626', '-...",16,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10013,United States,us,NaN,NaN,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4517,4517,2021-10-16 19:03:30,device1,ibeacon,1000.0,3194.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-87,-49,20.144908,40.716227,-74.008605,0.85,76,1634424402178,POINT (-74.0086046 40.71622698),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.0086046 40.71622698),56700830,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,5106263523,40.716196,-74.008664,"Chambers Street, West Broadway, Tribeca, Manha...","['40.7161463', '40.7162463', '-74.0087138', '-...",NaN,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10012,United States,us,NaN,Chambers Street,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4518,4518,2021-10-16 19:03:30,device1,ibeacon,1000.0,3313.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-87,-49,23.269880,40.716227,-74.008605,0.85,76,1634424402164,POINT (-74.0086046 40.71622698),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.0086046 40.71622698),56700830,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,5106263523,40.716196,-74.008664,"Chambers Street, West Broadway, Tribeca, Manha...","['40.7161463', '40.7162463', '-74.0087138', '-...",NaN,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10012,United States,us,NaN,Chambers Street,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4868,4868,2021-10-16 19:14:30,device1,ibeacon,1000.0,3194.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-82,-49,14.874892,40.720402,-74.005379,1.29,76,1634424511600,POINT (-74.00537926 40.72040178),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.00537926 40.72040178),23362516,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,2565708170,40.720447,-74.005561,"260, West Broadway, Tribeca, Manhattan Communi...","['40.7203966', '40.7204966', '-74.0056113', '-...",260,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10013,United States,us,NaN,NaN,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4888,4888,2021-10-16 19:15:00,device1,ibeacon,1000.0,3249.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-89,-49,34.047691,40.720525,-74.005129,1.08,76,1634424513891,POINT (-74.00512866 40.72052473),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.00512866 40.72052473),251970823,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",way,772047819,40.720799,-74.005160,"Canal Street, West Broadway, Tribeca, Manhatta...","['40.7197263', '40.7214498', '-74.0052349', '-...",NaN,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10005,United States,us,NaN,Canal Street,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4906,4906,2021-10-16 19:15:30,device1,ibeacon,1000.0,3284.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-89,-49,27.156289,40.720967,-74.004948,1.11,76,1634424517273,POINT (-74.00494771 40.72096671),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.00494771 40.72096671),23187063,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,2562442579,40.721644,-74.004565,"300, West Broadway, Tribeca, Manhattan Communi...","['40.7215937', '40.7216937', '-74.0046153', '-...",300,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10013,United States,us,NaN,NaN,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4908,4908,2021-10-16 19:16:00,device1,ibeacon,1000.0,3284.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-89,-49,27.156289,40.721017,-74.004881,1.03,76,1634424517273,POINT (-74.00488147999999 40.72101687),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.00488147999999 40.72101687),23187063,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,2562442579,40.721644,-74.004565,"300, West Broadway, Tribeca, Manhattan Communi...","['40.7215937', '40.7216937', '-74.0046153', '-...",300,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10013,United States,us,NaN,NaN,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4913,4913,2021-10-16 19:16:00,device1,ibeacon,1000.0,3194.0,d954b22d-0031-4b02-b91d-f86c1fbd8d22,NaN,-80,-49,18.110292,40.721053,-74.004830,1.23,76,1634424520225,POINT (-74.00483005 40.72105253),55,34,0,35,33.0,1,Manhattan,3300,1003300,NaN,Tribeca-Civic Center,MN0102,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061003300,3.677728e+06,8170.756287,55,NaN,NaN,d954b22d,NaN,POINT (-74.00483005 40.72105253),23187063,"Data Â© OpenStreetMap contributors, ODbL 1.0. h...",node,2562442579,40.721644,-74.004565,"300, West Broadway, Tribeca, Manhattan Communi...","['40.7215937', '40.7216937', '-74.0046153', '-...",300,West Broadway,Tribeca,Manhattan,NaN,New York,New York,10013,United States,us,NaN,NaN,NaN,NaN,NaN,New York County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN